<!-- БОКОВАЯ ПАНЕЛЬ -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/sidepanel.css' %}">
<div class="sidenav">
  <h3 class="logo">HomeWork</h3>
  <a href="/">О профессии</a>
  <a href="/demand">Востребованность</a>
  <a href="/geography">География</a>
  <a href="/skills">Навыки</a>
  <a href="/latest_vacancies">Последние вакансии</a>
  <!-- ПОДВАЛ -->
  <a href="#">Студент Перепёлкин Владимир Александрович РИ-210915</a>
  <!-- КОНЕЦ ПОДВАЛА -->
</div>


<!-- КОНЕЦ БОКОВОЙ ПАНЕЛИ -->

